@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 199 75% 94%; /* Light, desaturated blue (#E5F4FB) */
    --foreground: 0 0% 0%; /* Black */
    --card: 0 0% 100%; /* White */
    --card-foreground: 0 0% 0%; /* Black */
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%; /* Black */
    --primary: 3 100% 50%; /* #FF3F33 */
    --primary-foreground: 0 0% 100%; /* White */
    --secondary: 239 100% 15%; /* #000000 */
    --secondary-foreground: 0 0% 100%; /* White */
    --muted: 199 50% 88%;
    --muted-foreground: 199 30% 50%;
    --accent: 89 55% 64%; /* #9FC87E */
    --accent-foreground: 0 0% 0%; /* Black */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 3 100% 50%; /* #FF3F33 */
    --chart-4: 43 74% 66%;
 --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
